.bg_nav {
    background-image: url('/Rectangle 51.png');
    background-size: cover;
  }

  .rounded {
    border-radius: 20px;
  }
.journey-logo-final {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.journey-logo-final:hover {
  transform: scale(1.05);
}


.journey-logo-final #car-final {
  offset-path: path("M 25,60 C 50,35 170,35 195,60");
  animation: drive-final 4s ease-in-out infinite;
}

@keyframes drive-final {
  0% { offset-distance: 0%; transform: rotate(0deg); }
  48% { offset-distance: 100%; transform: rotate(0deg); }
  52% { offset-distance: 100%; transform: rotate(180deg); } /* استدارة السيارة للعودة */
  98% { offset-distance: 0%; transform: rotate(180deg); }
  100% { offset-distance: 0%; transform: rotate(0deg); } /* العودة للوضع الطبيعي */
}

/* حركة النبض لأيقونات البداية والنهاية */
.journey-logo-final #source-pin,
.journey-logo-final #dest-pin {
  animation: pulse 2s infinite ease-in-out;
}

/* تأخير نبض أيقونة النهاية لتبدو الحركة متناوبة */
.journey-logo-final #dest-pin {
  animation-delay: 1s;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15); /* تكبير بسيط */
    opacity: 0.8;
  }
}