
<div class="page-layout row">

  <aside class="sidebar col-3">
   
    <div class="card">
    
      <div class="profile-section">
        <img [src]="profileImage" alt="Profile" class="profile-image">
        <div class="profile-info">
          <div class="profile-greeting">{{ profileGreeting }}</div>
          <div class="profile-name">{{ profileName }}</div>
        </div>
      </div>
    </div>

   
    <div class="card">
      <div class="menu-item-header">
        <i class="fas fa-user icon-blue"></i>
        <div class="menu-item-content">اعدادات الحساب</div>
      </div>
      <div class="divider"></div>
      <div class="submenu">
        <a (click)="setView('personal')" [class.active-link]="activeView === 'personal'">معلومات الحساب</a>
        <a (click)="setView('car')" [class.active-link]="activeView === 'car'">معلومات السيارة</a>
      </div>
    </div>

   
    <div class="card">
      <div class="menu-item-header">
        <i class="fas fa-lock icon-blue"></i>
        <div class="menu-item-content">الخصوصية</div>
      </div>
    </div>

    
    <div class="card">
      <div class="menu-item-header">
        <i class="fas fa-question-circle icon-blue"></i>
        <div class="menu-item-content">مركز المساعدة</div>
      </div>
    </div>


    <div class="card">
      <div class="menu-item-header">
        <i class="fas fa-user-friends icon-blue"></i>
        <div class="menu-item-content">تواصل معنا</div>
      </div>
    </div>

   
    <div class="card">
      <div class="menu-item-header">
        <i class="fas fa-sign-out-alt icon-blue icon-flipped"></i>
        <div class="menu-item-content">تسجيل الخروج</div>
      </div>
    </div>
  </aside>


    <main class="content-container card col-8">
   
    <div *ngIf="activeView === 'personal'" class="info-layout">
      
      <div class="form-container">
        <h2 class="form-title">المعلومات الشخصية</h2>
        <div class="form-row">
          <label class="form-label">الاسم</label>
          <div class="input-wrapper">
            <input matInput [(ngModel)]="personal.name" class="form-input">
            <i class="fas fa-pencil-alt edit-icon"></i>
          </div>
        </div>
        <div class="form-row">
          <label class="form-label">الجنس</label>
          <div class="input-wrapper">
            <mat-radio-group [(ngModel)]="personal.gender" class="radio-group-ltr">
              <mat-radio-button value="male">ذكر</mat-radio-button>
              <mat-radio-button value="female">أنثى</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="form-row">
          <label class="form-label">البريد</label>
          <div class="input-wrapper">
            <input matInput [(ngModel)]="personal.email" type="email" class="form-input">
            <i class="fas fa-pencil-alt edit-icon"></i>
          </div>
        </div>
        <div class="form-row">
          <label class="form-label">رقم الهاتف</label>
          <div class="input-wrapper">
            <span class="phone-prefix-rtl"><img src="https://hatscripts.github.io/circle-flags/flags/eg.svg" width="24"></span>
            <input matInput [(ngModel)]="personal.phone" class="form-input phone-input-rtl">
            <i class="fas fa-pencil-alt edit-icon"></i>
          </div>
        </div>
      </div>
     
      <div class="illustration-container">
        <img src="/pass.png" alt="Illustration" class="illustration-image">
        <button class="save-button">حفظ التعديلات</button>
      </div>
    </div>

   
    <div *ngIf="activeView === 'car'" class="info-layout">
      <div class="form-container">
        <h2 class="form-title">معلومات السيارة</h2>
        <div class="form-row">
          <label class="form-label">النوع</label>
          <div class="input-wrapper">
            <input matInput [(ngModel)]="car.type" class="form-input">
            <i class="fas fa-pencil-alt edit-icon"></i>
          </div>
        </div>
        <div class="form-row">
          <label class="form-label">رقم اللوحة</label>
          <div class="input-wrapper">
            <input matInput [(ngModel)]="car.plateNumber" class="form-input">
            <i class="fas fa-pencil-alt edit-icon"></i>
          </div>
        </div>
        <div class="form-row">
          <label class="form-label">عدد مقاعد السيارة</label>
          <div class="input-wrapper">
            <input matInput [(ngModel)]="car.seats" type="number" class="form-input">
            <i class="fas fa-pencil-alt edit-icon"></i>
          </div>
        </div>
        <div class="form-row">
          <label class="form-label">تصنيف السيارة</label>
          <div class="input-wrapper">
            <input matInput [(ngModel)]="car.category" class="form-input">
            <i class="fas fa-pencil-alt edit-icon"></i>
          </div>
        </div>
        <div class="form-row">
          <label class="form-label">لون السيارة</label>
          <div class="input-wrapper">
            <input matInput [(ngModel)]="car.color" class="form-input">
            <span class="color-preview-ltr"></span>
            <i class="fas fa-pencil-alt edit-icon"></i>
          </div>
        </div>
      </div>
   
      
      <div class="gallery-container">
        <div class="main-image-wrapper">
          <img [src]="car.mainImage" alt="Main car" class="main-image">
        </div>
        <div class="thumbnails-wrapper">
          <img *ngFor="let thumb of car.thumbnails" [src]="thumb" class="thumbnail">
          <div class="thumbnail add-image-button"><i class="fas fa-plus"></i></div>
        </div>
        <button class="save-button">حفظ التعديلات</button>
      </div>
    </div>
  </main>

</div>
