
<div class="w-full h-[500px] rounded-lg overflow-hidden">
    <div id="map" class="relative w-full h-full"></div>
    <div class="absolute top-40 right-10 gap-4 z-999 flex flex-col">
        <button (click)="setSelectionMode(true)" [ngClass]="{'bg-blue-700 text-white': isSelectingPickup, 'bg-white': !isSelectingPickup}"
            class="border border-blue-500 text-blue-500 rounded-full p-2 font-semibold hover:bg-blue-50 transition shadow-md">
            اختر نقطة الانطلاق
        </button>
        <button (click)="setSelectionMode(false)" [ngClass]="{'bg-blue-700 text-white': !isSelectingPickup, 'bg-white': isSelectingPickup}"
            class="border border-blue-500 text-blue-500 rounded-full p-2 font-semibold hover:bg-blue-50 transition shadow-md">
            اختر نقطة الوصول
        </button>
        <button (click)="getCurrentLocation()"
            class="border border-cyan-400 text-cyan-500 bg-white rounded-full p-2 font-semibold flex items-center gap-1 hover:bg-cyan-50 transition shadow-md">
            استخدم الموقع الحالي
        </button>
        <button (click)="resetLocations()"
            class="border border-yellow-400 text-yellow-500 bg-white rounded-full p-2 font-semibold hover:bg-yellow-50 transition shadow-md">
            إعادة تعيين
        </button>
    </div>
</div>


<div class="w-full flex justify-center mb-10 absolute top-119 z-1000">
    <div
        class="flex flex-row items-center justify-between bg-white rounded-xl shadow border border-gray-400 overflow-hidden w-full max-w-5xl divide-x divide-gray-400 h-15">
     
        <div class="relative w-1/5">
            <img src="add_location_alt.png" alt="From" class="absolute right-2 top-1/2 -translate-y-1/2 w-5 h-5">
            <input type="text" placeholder="من" 
                class="w-full py-2 pr-8 pl-6 rounded focus:outline-none text-gray-700"
                [(ngModel)]="fromLocationText" (input)="onInputChange('from', $event)"/>
        </div>
       
        <div class="relative w-1/5">
            <img src="distance.png" alt="To" class="absolute right-2 top-1/2 -translate-y-1/2 w-5 h-5">
            <input type="text" placeholder="الى"
                class="w-full py-2 pr-8 pl-6 rounded focus:outline-none text-gray-700"
                [(ngModel)]="toLocationText" (input)="onInputChange('to', $event)"/>
        </div>
        
        <div class="relative w-1/5">
            <input type="date" placeholder="اليوم" class="w-full py-2 px-4 rounded focus:outline-none text-gray-700" />
        </div>
       
        <div class="relative w-1/5 flex items-center justify-center">
            <img src="group_add.png" alt="زيادة" class="w-7 h-7 cursor-pointer" (click)="increasePassengers()">
            <span class="text-gray-700 px-4">{{ passengerCount }} راكب</span>
            <img src="group_remove.png" alt="نقص" class="w-7 h-7 cursor-pointer" (click)="decreasePassengers()">
        </div>
        <!-- Search Button -->
        <button (click)="searchRides()" class="bg-blue-800 text-white font-bold px-8 py-3 h-full w-1/5">بحث</button>
    </div>
</div>


<div class="mt-30">
    
    <div class="text-center my-12 p-6 bg-gray-50 rounded-xl shadow-md">
        <h1 class="text-3xl font-bold text-green-700 mb-3">
            اختر من الرحلات المتاحة
        </h1>
        <p class="text-gray-600 mb-6">
            أو قم باقتراح رحلتك الخاصة وسيقوم السائقون بالتواصل معك
        </p>
     
        <button (click)="openSuggestTripModal()" class="suggest-trip-button">
            اقترح رحلتك الآن
        </button>
    </div>

    
     <div class="flex flex-row flex-wrap justify-center gap-6">
        <div *ngFor="let ride of rides"
            class="bg-white rounded-2xl shadow-2xl hover:shadow-4xl p-2 pb-4 w-full max-w-xl flex flex-col items-center justify-between text-right divide-y divide-gray-400 my-10">
            <div class="flex items-center justify-center mt-4 md:mt-0 md:ml-6 w-full">
            <div class="px-4 flex flex-col gap-2 items-center w-1/3">
                <img [src]="ride.driverImageUrl" alt="صورة السائق"
                class="w-16 h-16 rounded-full border-2 border-gray-300 mb-2">
                <span class="font-bold text-gray-800">{{ ride.driverName }}</span>
                <div class="flex items-center justify-center gap-1">
                <span class="text-white font-semibold flex items-center justify-center gap-1 bg-yellow-500 rounded-md w-15">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline" fill="currentColor"
                    viewBox="0 0 20 20">
                    <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.967a1 1 0 00.95.69h4.178c.969 0 1.371 1.24.588 1.81l-3.385 2.46a1 1 0 00-.364 1.118l1.287 3.966c.3.922-.755 1.688-1.54 1.118l-3.385-2.46a1 1 0 00-1.175 0l-3.385 2.46c-.784.57-1.838-.196-1.54-1.118l1.287-3.966a1 1 0 00-.364-1.118L2.045 9.394c-.783-.57-.38-1.81.588-1.81h4.178a1 1 0 00.95-.69l1.286-3.967z" />
                </svg>
                {{ ride.rate }}
                </span>
                <span class="text-gray-500">{{ ride.carType }}</span>
            </div>
            </div>
                <img src="Group 113.png" alt="" class="py-6 h-40">
                <div class="flex flex-col justify-between h-full py-6 px-2 w-2/3">
                    <div class="flex items-center gap-2 mb-2">
                        <img src="add_location_alt.png" alt="" class="w-5 h-5">
                        <span class="text-lg">{{ ride.departureCity }}</span>
                    </div>
                    <div class="flex items-center gap-2 mb-2">
                        <img src="distance.png" alt="" class="w-5 h-5">
                        <span class="text-lg">{{ ride.destinationCity }}</span>
                    </div>
                    <div class="flex items-center gap-2 mb-2">
                        <i class="fas fa-calendar-alt text-blue-500"></i>
                        <span class="text-lg">{{ ride.departureTime | date:'medium' }}</span>
                    </div>
                    <div class="flex items-center gap-2 mb-2">
                        <i class="fas fa-chair text-green-500"></i>
                        <span class="text-lg">{{ ride.availableSeats }} مقعد متاح</span>
                    </div>
                    <div class="flex items-center gap-2 mb-2">
                        <i class="fas fa-money-bill-wave text-yellow-600"></i>
                        <span class="text-lg">{{ ride.price }} جنيه/مقعد</span>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="flex items-center gap-4 mt-2 divide-x divide-gray-400">
                    <span class="flex flex-col items-center pl-4">
                        <span class="font-semibold">نوع السيارة</span>
                        <span class="">{{ ride.carType }}</span>
                    </span>
                    <span class="flex flex-col items-center pl-4">
                        <span class="font-semibold">الكراسي المتاحة</span>
                        <span class="">{{ ride.availableSeats }}</span>
                    </span>
                    <span class="flex flex-col items-center">
                        <span class="font-semibold">تقييم السائق</span>
                        <span class="">{{ ride.rate }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =============================================================== -->
<!--                SUGGEST A TRIP MODAL (POPUP )                     -->
<!-- =============================================================== -->

<!-- <div *ngIf="isSuggestTripModalVisible" class="modal-overlay" (click)="closeSuggestTripModal()">

  
  <div class="modal-content" (click)="$event.stopPropagation()">
    
    
    <app-suggest-trip
        [initialFrom]="fromLocationText"
        [initialTo]="toLocationText"
        (closeModal)="closeSuggestTripModal()">
    </app-suggest-trip>
   

  </div>
</div> -->
<div *ngIf="isSuggestTripModalVisible" class="modal-overlay" (click)="closeSuggestTripModal()">

  <div class="modal-content" (click)="$event.stopPropagation()">
    
    <!-- ✅ CORRECTED: The [initialFrom] and [initialTo] bindings have been removed -->
    <app-suggest-trip
        (closeModal)="closeSuggestTripModal()">
    </app-suggest-trip>
   
  </div>
</div>