<nav class="flex items-center justify-between px-6 py-4 shadow-md absolute top-0 left-0 right-0 z-10">
  <div class="flex items-center gap-4">
    <!-- <img src="/assets/logo.png" alt="Logo" class="h-10"> -->
    <span class="font-bold text-4xl text-white px-6 pl-14">مشوار</span>
    <ul class="flex gap-8 font-medium text-white">
      <li><a href="#" class="">البحث عن رحلة</a></li>
      <li><a href="#" class="">نشر رحلة</a></li>
    </ul>
  </div>
  <ul class="flex gap-6 items-center font-medium ">
    <li><a href="#" class="hover:text-[#0BB097]">كيف يعمل</a></li>
    <button type="submit"
    class="bg hover:bg-[#0BB097] hover:border-0 font-bold py-3 px-11 rounded-lg whitespace-nowrap border-1">تسجيل الدخول</button>
  </ul>
</nav> 